@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #0d0d2b;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  overflow-y: scroll;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  /* margin-top: 5px; */
  border: 2px solid #828282;
  border-radius: 5px;
  padding: 16px;
  color: #ffffff;
}

div {
  position: relative;
}

#shapes {
  position: absolute;
  width: 260px;
  height: 260px;
  left: 1190px;
  top: 183px;
}

#water {
  position: absolute;
  width: 240px;
  height: 240px;
  right: 1006px;
  bottom: 558px;
}

h1 {
  margin-top: 5px;
  text-align: center;
  color: #3671e9;
}

nav {
  position: sticky;
  z-index: 1;
  display: flex;
  padding: 15px 30px;
}

h2 {
  padding: 5px;
  color: white;
}

label {
  display: block;
  margin: 0.5rem 0;
  margin-top: 1.5rem;
}

fieldset {
  border: none;
}

input {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  padding: 14px 20px;
  border-radius: 5px;
  font-size: 16px;
  background-color: #0d0d2b;
  border: 1px solid #828282;
  color: #ffffff;
}

.password {
  position: relative;

}

#toggle-eye {
  position: absolute;
  right: 0;
  /* left: 10px; */
  bottom: 70px;
  margin-right: 12px;
  cursor: pointer;

}

.inline {
  width: unset;
  vertical-align: middle;
  margin: 0 0.5em 0 0;
}

input[type="submit"] {
  background-color: #3671e9;
  color: #0d0d2b;
  cursor: pointer;
}

input[type="checkbox"] {
  background-color: #3671e9;
  color: #828282;
  cursor: pointer;
}

input:hover {
  border: 2px solid #3671e9;
}

a {
  color: #3671e9;
}

p {
  margin-top: 20px;
  color: #828282;
}

/* .hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none; 
}

.hide-scrollbar::-webkit-scrollbar { 
  width: 0;
  height: 0;
} */

footer {
  color: #828282;
  text-align: center;
  margin-top: 5px;
}