@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #2b076e;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  overflow-y: scroll;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* .dark-mode {
  background-color: #000;
  color: #fff;
  font-weight: bolder;
} */

nav {
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 1;
  /* box-shadow:  0 3px 5px rgba(0, 0, 0, 0.1); */
  padding: 1.5rem 1.3rem;
}

h2 {
  /* letter-spacing: 0.04em; */
  padding-left: 16px;
  color: #ffffff;
  font-family: "Inter";
  /* font-style: bolder; */
  font-weight: bolder;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

h1 {
  letter-spacing: 0.04em;
  color: #3671e9;
  /* padding-left: 10rem; */
  /* margin-top: 3rem; */
  font-family: "Inter";
}

/* .vertical-line {
  border-left: 2px solid #0d0d2b;
  height: 15px;
  position: absolute;
  left: 100%;
  margin-left: -100px;
  top: 2rem;
  opacity: 0.5;
} */

/* .moon {
  border: 2px solid #f5f5f5;
  position: absolute;
  left: 100%;
  margin-bottom: 10rem;
  margin-left: -90px;
  top: 2rem;
  vertical-align: middle;
} */

.wrapper {
  /* background-color: #fff; */
  /* border: 1px solid #828282; */
}

.flexbox {
  position: relative;
  background-color: #210653;
  border: 1px solid #828282;
  display: flex;
  /* margin: auto; */
  align-items: center; 
  padding: 16px;
  margin-top: 55rem;
  /* background-color: slategrey; */
  width: 100vw;
  /* max-width: 500px;
  min-width: 300px; */
  margin: 0 auto;
}

#shapes {
  position: absolute;
  width: 260px;
  height: 260px;
  left: 1190px;
  top: 183px;
}

#water {
  position: absolute;
  width: 240px;
  height: 240px;
  right: 1006px;
  bottom: 558px;
}

form {
  margin-top: 2rem;
}

input {
  border-radius: 4px;
  caret-color: #3671e9;
  display: block;
  width: 100%;
  padding: 12px 10px;
  background-color: #f5f5f5;
  font-size: 16px;
}

input:hover {
  border: 3px solid #3671e9;
}

button {
  width: 100%;
  padding: 14px 40px;
  line-height: normal;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  letter-spacing: normal;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
}

.create {
  margin-top: 1rem;
  font-family: 'Times New Roman', Times, serif;
}

.create a {
  /* margin-top: 1rem; */
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #fff;
}

.create :hover {
  border-bottom: 2px solid #3671e9;
  font-weight: bold;
}

#next {
  margin-top: 1rem;
  background-color: #3671e9;
  color: #fff;
  /* font-weight: bold; */
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.or {
  text-align: center;
  margin: 1rem;
}

#google {
  background-color: #234fa5;
  color: #2b076e;
  font-weight: 500;
  font-size: 15px;
  font-family: "Inter";
  border: none;
  border-radius: 5px;
  /* margin-top: 1rem; */
}

#apple {
  background-color: #204287;
  font-weight: 500;
  font-size: 15px;
  font-family: "Inter";
  color: #2b076e;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
}

#G-flavicon,
#A-flavicon {
  vertical-align: middle;
}

.first {
  line-height: 2rem;
  /* background-color: aqua; */
  padding-left: 15rem;
  /* padding-right: 3rem; */
}

.second {
  padding-left: 5rem;
  height: inherit;
  padding-right: 25rem;
  /* margin-top: 5rem; */
  /* background-color: #828282; */
}

#qrcode {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  /* margin-top: 10px; */
  cursor: pointer;
}

.lower {
  margin-top: 1rem;
}

label {
  color: #fff;
}

#app {
  text-decoration: none;
  color: #3671e9;
  font-size: 600;
  cursor: pointer;
}

.scan :hover {
  border-bottom: 2px solid #3671e9;
  font-weight: bold;
}

.scan {
  text-align: center;
  margin-bottom: 25px;

}

h3 {
  text-align: center;
  font-size: larger;
  color: #fff;
  margin-bottom: 5px;
}

footer {
  font-family: "Rubik", sans-serif;
  margin-top: 8rem;
  text-align: center;
  font-size: small;
  color: #828282;
}
