@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* min-width: 100%; */
  /* background-color: #0D0D2B; */
}

body {
  background-color: #f5f5f5;
}

.dark-mode {
  background-color: #000;
  color: #fff;
  font-weight: bolder;
}

h2.dark-mode,
p.dark-mode {
  color: #fff;
}

nav {
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 1;
  /* box-shadow:  0 3px 5px rgba(0, 0, 0, 0.1); */
  padding: 1.5rem 1.3rem;
}

h2 {
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
  font-family: "Inter";
  /* font-style: bolder; */
  font-weight: bolder;
  font-size: 18px;
  line-height: 22px;
  color: #0d0d2b;
}

.vertical-line {
  border-left: 2px solid #0d0d2b;
  height: 15px;
  position: absolute;
  left: 100%;
  margin-left: -100px;
  top: 2rem;
  opacity: 0.5;
}

.moon {
  border: 2px solid #f5f5f5;
  position: absolute;
  left: 100%;
  /* margin-bottom: 10rem; */
  margin-left: -90px;
  top: 2rem;
  vertical-align: middle;
}

.flexbox {
  display: flex;
  margin: auto;
  align-items: center;
  padding-left: 20rem;
  margin-top: 8rem;
  /* background-color: #FFFFFF; */
}

h1,
p,
h3 {
  color: #0d0d2b;
  font-family: "Rubik", sans-serif;
}

h1 {
  letter-spacing: 0.04em;
  font-weight: 500;
}

button {
  width: 100%;
  padding: 14px 50px;
  line-height: normal;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
}

#phone {
  margin-top: 3rem;
  background-color: #473282;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

#google {
  background-color: #bdbdbd;
  font-weight: bold;
  color: #181848;
  border: none;
  border-radius: 5px;
}

#P-flavicon,
#G-flavicon,
#A-flavicon {
  vertical-align: middle;
}

#apple {
  background-color: #bdbdbd;
  font-weight: bold;
  color: #181848;
  border: none;
  border-radius: 5px;
}

.hyperlink {
  text-decoration: none;
}

.upper p {
  text-align: center;
  margin: 1rem;
}

.first {
  /* background-color: #ffffff; */
  line-height: 2rem;
}

.second {
  padding-left: 5rem;
  /* background-color: #FFFFFF; */
}

#btc {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.lower {
  margin-top: 1rem;
}

h3 {
  text-align: center;
  font-size: larger;
  margin-bottom: 25px;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: #473282;
}

footer {
  font-family: "Rubik", sans-serif;
  margin-top: 8rem;
  text-align: center;
  font-size: small;
  color: #828282;
}
