@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  background-color: #0d0d2b;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.first {
  background-color: #0d0d2b;
  color: #f2f2f2;
}

header {
  /* margin-top: 5rem; */
}

.first nav {
  position: sticky;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem 5rem;
}

nav h2 {
  margin-right: 42rem;
}

nav button {
  margin-right: 42rem;
}

ul {
  list-style-type: none;
}

nav ul {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.divider {
  position: absolute;
  width: 24px;
  height: 0px;
  left: 1354px;
  top: 45px;
  opacity: 0.3;
  border: 1px solid #f2f2f2;
  transform: rotate(90deg);
}

.container {
  position: relative;
  display: flex;
  margin: auto;
  align-items: center;
  padding-left: 20rem;
  border-bottom: 0.5px solid #828282;
}

.left-first {
  margin-top: -10rem;
  margin-left: -10rem;
  /* margin-right: 5rem; */
}

#base {
  margin-top: 15rem;
}

h1 {
  margin-top: 3rem;
  font-family: "Rubik";
  font-style: bolder;
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
}

p {
  font-family: "Rubik";
  font-style: bold;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  /* color: #e0e0e0; */
  margin-top: 1rem;
}

#register {
  background-color: #3671e9;
  border-radius: 32px;
  padding: 14px 32px;
  color: white;
}

.right-first {
  position: relative;
  margin-right: -6rem;
}

/* .right-first {
  position: relative;
} */

#water1 {
  position: absolute;
  width: 720px;
  height: 500px;
  left: 391px;
  top: 280px;
}

#water2 {
  position: absolute;
  width: 520px;
  height: 400px;
  left: 1301px;
  top: 290px;
}

.second {
  background-color: #0d0d2b;
}

.left-first p {
  color: #e0e0e0;
}

.flexbox {
  display: flex;
  direction: row;
  margin-top: 2rem;
  padding: 0 1%;
}

#water3 {
  left: 461.33px;
  top: 417.8px;
}

.wrapper {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}

#wrap {
  width: 100%;
  margin-right: 30rem;
  display: flex;
 margin-left: 5rem;
}

#wrap2 {
  width: 100%;
  margin-right: 10rem;
  display: flex;
 
}

#wrap3 {
  margin-right: 10rem;
  width: 100%;
  display: flex;

}

/* .flexbox::before {
  content: "";
}

.flexbox::after {
  content: "";
} */

.container2 {
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
  padding-left: 10rem;
  margin-top: 7rem;
}

.right2 {
  position: relative;
  margin-right: 14rem;
  margin-top: -5rem;
}

.left1 {
  position: relative;
  margin-left: -5rem;
}

.right2 h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 150%;
}

.right2 button {
  background-color: #3671e9;
  border-radius: 32px;
  padding: 14px 32px;
  color: white;
  border: none;
  font-size: 18px;
  margin-top: 2rem;
}

#water3 {
  position: absolute;
  width: 620px;
  height: 397.88px;
  left: -200px;
  top: 200px;
}

#water4 {
  position: absolute;
  width: 260px;
  height: 260px;
  left: 1290px;
  top: -200px;
}

#water5 {
  position: absolute;
  width: 240px;
  height: 240px;
  left: 386px;
  top: 258px;
}
