.root{
    --primary-color: #0d0d2b;
    --purple-color: #2b076e;
    --blue-color: #0c56e9;
    --cyan-blue-color: #3671e9;
    --white-color: #ffffff;
}
body {
    background-color: #0d0d2b ;
    width: 100%;
    margin: 0%;
    box-sizing: border-box;
}
a {
    text-decoration: none;
  }

body {
    margin: 0;  
    font-family: "mulish", sans-serif;
}
.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.1rem;
}
.header__top ul {
    margin-right: 5.6rem;
}
header__top > nav {
    display: none;
}
.header__top .logo {
    display: flex;
    align-items: center;
}
.header__top .logo img {
    margin-right: 1.6rem;
}
nav ul {
    flex:1;
    text-align: right;
}
nav ul li {
    list-style: none;
    display: inline-block;
    padding: opx 25px;
    padding-left: 35px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}
nav ul li a:hover{
    color: blue;
    transition: .3s;
}      
.badge-container {
    display: inline-flex;
    width: 22rem;
    padding: 0.2rem 10rem 0.1rem 0.1rem;
    justify-content: space-between;
    align-items: center;
    background-color: #2d313b;
    color: #ffffff;
    border-radius: 30px;
    font-size: small;
    padding-right: 60px;
    padding-top: 0.1rem;
}
.badge {
    padding: 0.4rem 1.6rem;
    border-radius: 32px;
} 
.badge--dark {
    padding-left: 15px;
    background-color: white;
    color: #0d0d2b;;
}
ul li div button {
    border: 2px solid blue;
    width: 100%;
    padding: 10px;
    padding-left: 10px;
    text-align: justify;
    right: 20px;
    background: #0c56e9;
    border-radius: 10px;
    cursor: pointer;
}
button {
    border: 2px solid blue;
    width: 150px;
    height: 50px;
    padding: 10px;
    padding-left: 10px;
    text-align: justify;
    background: #0c56e9;
    border-radius: 32px;
    cursor: pointer; 
    position: relative;
}
.chiron-icon-container {
    display: inline-flex;
    width: 3.2rem;
    height: 3.2rem;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    margin-left: 1.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}
.background-item-1 {
    width: 100%;
    bottom: 0;
    right: 50%;
    position: relative;
    display: block;
}
  
.background-item-2 {
    width: 45%;
    bottom: 10%;
    right: 5%;
    pointer-events: none;
    align-items: center;
}
btc-illustration img {
    display: block;
    width: 100%;
}
.hero-section {
    display: flex;
    height: 100vh;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}


 
